// 
// Icons
// 

// Styling for the rounded social media links
button.icon {
    background-color: $primary;
    border: none;
    color: var(--color-text);
    padding: 12px 16px;
    font-size: 30px;
    cursor: pointer;
}

#sun {
    display: var(--display-sun);
    color: rgb(255, 0, 8);
}

#moon {
    display: var(--display-moon);
    color: rgb(47, 46, 46);
}

.social-icons {
    .social-icon {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        width: 3.5rem;
        background-color: $gray-700;
        color: $white;
        border-radius: 100%;
        font-size: 1.5rem;
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            background-color: $primary;
        }
    }
}

// Styling for the development technology icons
.dev-icons {
    font-size: 3rem;
}
