// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$white: #ffffff;


// Override Bootstrap color system

$red: #4811c9;

// Override Bootstrap default state colors

$primary: $red;


