// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$white: #ffffff;


// Override Bootstrap color system

$red: #FF0000;

// Override Bootstrap default state colors

$primary: $red;


